/* Regole Header */


.img-header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


#bell{
    color: #ff8f00;
}

/* .position-relative{
    position: relative;
    left: 90px;
}

.position-absolute{
    position: absolute;
} */


.flex-grow-form{
    flex-grow: 10;
}


.form-bg-header{
    background-color: #e5e5e5;
}



/* Regole Main */
main{
    display: flex;
}





/* Regole di Debug */




.side-bar{
    width: 10vw;
    height: 100vh;
    background-color: blue;
}



.parte-principale{
    width: 100vw;
    height: 100vh;
    background-color: red;
}